<section class="general-content">

</section>

{% schema %}
{
  "name": "General Content",
  "settings": [],
  "presets": [
    {
		"name": "General Content"
    }
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}