<section class="general-content">
	<div class="test">
    aaaaa
  </div>
</section>

{% schema %}
{
  "name": "General Content",
  "settings": [],
  "presets": [
    {
		"name": "General Content"
    }
]
}
{% endschema %}
