<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}

{%- endstyle -%}

<div class="test">

</div>

{% schema %}
{
  "name": "general content start",
  "tag": "section",
  "class": "section",
  "settings": [
  ],
  "blocks": [
  ],
  "presets": [
    {
      "name": "general content start",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
