<section class="general-content">
	<div class="test" style="background-color: {{ block.settings.background_color }}">
    aaaaa
  </div>
</section>

{% schema %}
{
  "name": "General Content",
  "settings": [
		{
			"type": "color",
			"id": "background_color",
			"default": "#000000",
			"label": "Background Color"
		}
	],
  "presets": [
    {
		"name": "General Content"
    }
]
}
{% endschema %}
