footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-logo{
  width: 100px;
  height: 20px;
  margin: auto;
  margin-top: 115px;
  margin-bottom: 50px;
}
h2, span, p{
  color: white;
  text-align: center;
}
.letter-spacing{
  letter-spacing: 4px;
}
.footer-contact-paragraph{
  margin-bottom: 30px;
}
.footer-second-paragraph{
  margin-bottom: 30px;
}
.footer-social-links-container{
  margin-bottom: 100px;
}

@media screen and (min-width: 750px) {
  .footer-logo{
    margin-top: 230px;
    margin-bottom: 100px;
  }
  .footer-contact-paragraph{
    margin-bottom: 60px;
  }
  .footer-second-paragraph{
    margin-bottom: 60px;
  }
  .footer-social-links-container{
    margin-bottom: 200px;
  }
}
