footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img{
  width: 100px;
  height: 20px;
}
h2, span, p{
  color: white;
  text-align: center;
}
.letter-spacing{
  letter-spacing: 4px;
}
