body{
  background-color: #000000 !important;
}

.banner{
}
.banner__content{
  padding-top: 0 !important;
  pointer-events: none;
}
.general-content-container{
  background: none;
}
.general-content-inner{
  z-index: 1;
  width: 90%;
  position: relative;
  margin: auto;
  max-width: 1200px;
  background-color: white;
}
.general-2-col-layout{
  margin: 0 20px;
}
.general-text-container{
  padding: 10px;
}
.general-slider-container{
  min-height: 400px;
}
.general-slider-container img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 749px){
  .general-2-col-layout div:first-of-type{
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 750px) {
  .general-2-col-layout{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
  }
  .general-2-col-layout > div{
    width: calc(50% - 15px);
  }
  .general-text-container{
    padding: 20px;
  }
}
