body{
  background-color: #000000 !important;
}

.banner{
}
.banner__content{
  padding-top: 0 !important;
}
.general-content-container{
  background: none;
}
.general-content-inner{
  z-index: 1;
  width: 90%;
  position: relative;
  margin: auto;
  max-width: 1200px;
  background-color: white;
}
