body{
  background-color: #000000 !important;
}

.banner{
}
.banner__content{
  padding-top: 0 !important;
}
.general-content-container{
  background: none;
}
.general-content-inner{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  background-color: white;
}
