.list-menu li, .list-menu li a{
 line-height: 3px; 
}
.list-menu li span {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}


.collection__toolbar {
  z-index: 2;
}

.collection__layout-button.is-selected {
    opacity: 1;
    color: #005377;
}

.breadcrumb__link{
	font-size: 14px !important;
  	color: black;
	text-decoration: none;
}

.container span, .container p, .container a, .container label{
	font-size: 14px;
  color: #000000;
}

.card__title--small{
 font-size: 18px;
  color: #005377 !important;
}

.collection__title{
 font-size: 20px;
  color: #005377 !important;
}

.product-item__vendor{
  text-decoration: none
}
.product-item__vendor:hover{
  color: #005377;
}

.product-item__title{
 text-decoration: none;
  font-size: 14px;
  color: #005377 !important;
}

span.price{
 font-size: 16px !important;
  color: #005377 !important;
}
span.price--highlight{
  color: #ee0000  !important;
}
span.price--compare{
  font-size: 14px !important;
  color: #000000 !important;
}

.product-label--on-sale {
    background: #ee0000 !important;
    color: #ffffff !important;
  font-weight: bold;
}

.value-picker__choice-item {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 8px 50px 7px 20px;
  text-decoration: none;
  font-size: 14px;
}

.product-item__action-button--list-view-only, .product-form__add-button{
  color: #005377 !important;
  background: #ffffff !important;
  font-size: 14px;
  min-width: 10rem;
  min-height: 3rem;
}

.button--primary{
  color: #ffffff !important;
  background: #005377 !important;
  border: none;
}

.button--primary:hover {
  background: rgba(0, 83, 119,.8) !important;
}

.button--ternary:hover {
    background: rgba(231, 226, 222,.5) !important;
    color: #000000 !important;
}

@media screen and (min-width: 641px){
  .value-picker__choice-item {
    display: block;
    padding: 2px 25px;
    cursor: pointer;
    transition: color .15s ease-in-out,background .15s ease-in-out;
  }
}


/* individual products page */
.product-meta__title{
  font-size: 24px;
  color: #005377;
  margin-bottom: 4px;
}

.product-meta__vendor{
  font-size: 14px;
  color: #005377 !important;
  text-decoration: none;
}

.product-form__info-title{
  font-size: 16px;
  font-weight: bolder;
  color: #005377 !important;
  text-decoration: none;
}

.card__section h3 span, .card__section h3{
  color: #005377 !important;
  font-size: 18px !important; 
}

.rte ul li:before {
  position: absolute;
  content: "";
  left: -18px;
  top: 16px;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: rgba(0,0,0,.4);
}

.card__section li{
  line-height: 28px;
  font-size: 14px;
}

.shopify-payment-button__more-options{
  font-size: 12px;
  margin-top: 8px;
  color: #005377;
  transition: color .2s ease-in-out; 
}

.quantity-selector--product {
  height: 36px;
  font-size: 16px;
}

@media screen and (min-width: 1000px){
  .card--sticky {
	position: -webkit-sticky;
    position: sticky;
    top: 40px;
    margin-bottom: 0;
  }
}