.collection__toolbar {
  z-index: 2;
}

.collection__layout-button.is-selected {
    opacity: 1;
    color: #005377;
}

.breadcrumb__link{
	font-size: 14px !important;
  	color: black;
	text-decoration: none;
}

.container span, .container p, .container a, .container label{
	font-size: 14px;
  color: #000000;
}

.card__title--small{
 font-size: 18px;
  color: #005377 !important;
}

.collection__title{
 font-size: 20px;
  color: #005377 !important;
}

.product-item__vendor{
  text-decoration: none
}
.product-item__vendor:hover{
  color: #005377;
}

.product-item__title{
 text-decoration: none;
  font-size: 14px;
  color: #005377 !important;
}

span.price{
 font-size: 16px !important;
  color: #005377 !important;
}
span.price--highlight{
  color: #ee0000  !important;
}
span.price--compare{
  font-size: 14px !important;
  color: #000000 !important;
}

.product-label--on-sale {
    background: #ee0000 !important;
    color: #ffffff !important;
  font-weight: bold;
}

.value-picker__choice-item {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  padding: 8px 50px 7px 20px;
  text-decoration: none;
  font-size: 14px;
}

.product-item__action-button--list-view-only{
  color: #005377 !important;
  background: #ffffff !important;
  font-size: 14px;
  min-width: 10rem;
  min-height: 3rem;
}

.button--primary{
  color: #ffffff !important;
  background: #005377 !important;
  border: none;
}

button--primary:hover {
  background: rgba(0, 83, 119,.8) !important;
}

@media screen and (min-width: 641px){
  .value-picker__choice-item {
    display: block;
    padding: 2px 25px;
    cursor: pointer;
    transition: color .15s ease-in-out,background .15s ease-in-out;
  }
}
