body{
  background-color: black !important;
}


@media screen and (min-width: 750px){
  .product-overall-container{
    max-width: 1200px;
    width: 90%;
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .product-sidebar{
    background-color: gray;
    width: 220px;
    margin-right: 20px;
    padding: 10px;
  }
  .product-grid-container{
    background-color: gray;
    flex: 1;
  }
  .product-count{
    display: none;
  }
  .facets__form{
    gap: 0 !important;
  }
  .facets__heading{
    display: none !important;
  }
  .facets-brands-container{
    /*
    padding: 10px;
    */
  }
  .active-facets{
    display: none !important;
  }
}
