.breadcrumb__link{
	font-size: 14px !important;
  	color: black;
	text-decoration: none;
}

span, p, a, label{
	font-size: 14px;
  color: #000000;
}

.card__title--small{
 font-size: 18px;
  color: #005377;
}

.collection__title{
 font-size: 20px;
  color: #005377;
}