


@media screen and (min-width: 750px){
  .product-overall-container{
    display: flex;
  }
  .product-sidebar{
    background-color: green;
    width: 300px;
    padding: 0;
  }
  .product-grid-container{
    background-color: blue;
  }
  .product-count{
    display: none;
  }
  .facets__form{
    gap: 0 !important;
  }
  .facets__heading{
    display: none !important;
  }
}
