.container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--mobile-container-gutter);
}
@media screen and (min-width: 641px)
.container {
    padding: 0 var(--desktop-container-gutter);
}

.page__sub-header {
    display: none;
    margin: 23px 0;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 13px));
}
@media screen and (min-width: 641px)
.page__sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.breadcrumb__list {
    display: flex;
    align-items: center;
    list-style: none;
}

.checkbox-wrapper svg {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 2px;
    top: calc(50% - 6px);
    transform: scale(0);
    transition: transform .2s ease-in-out;
    color: var(--secondary-background);
}
.checkbox:checked+svg {
    transform: scale(1);
}
.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    background: none;
    pointer-events: none;
    overflow: visible;
}