


@media screen and (min-width: 750px){
  .product-overall-container{
    display: flex;
  }
  .product-sidebar{
    background-color: green;
  }
  .product-grid-container{
    background-color: blue;
  }
  .facets-container{
    display: flex;
    flex-direction: column;
  }
}
