.banner{
  z-index: 100;
}
.banner__content{
  padding-top: 0;
}
.general-content-container{
  background-color: #000000;
}
.general-content-inner{
  width: 90%;
  z-index: 200;
  background-color: white;
}
